#checkout-block {
  font-family: var(--e-global-typography-primary-font-family);
  #place_order {
    background-color: var(--e-global-color-primary);
    &:hover {
      background-color: var(--e-global-color-2626311);
    }
  }
}
