// Search bar
#banner-header-block,
#header-block {
  .jkit-hamburger-menu {
    &:focus {
      outline: none;
      background-color: var(--e-global-color-171b55d);
    }
    &:focus-visible {
      outline: none;
      background-color: var(--e-global-color-171b55d);
    }
  }
  #search-bar,
  #banner-search-bar {
    input {
      border-radius: 20px;
      border-color: var(--e-global-color-525279f);
      color: var(--e-global-color-525279f);
    }
  }
  #elementor-menu-cart__toggle_button {
    width: 40px;
    height: 40px;
    padding: 10px !important;
  }
}
